@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/****************/
/* Mobile first */
/****************/

html,
body,
main {
  height: 100%;
  background-color: #fff;
}

.icon {
  @apply p-2 rounded-lg overflow-hidden;
  & svg {
    @apply fill-current text-white;
  }

  &.github {
    background-color: #181717;
  }

  &.stackoverflow {
    background-color: #fe7a16;
  }

  &.youtube {
    background-color: #ff0000;
  }

  &.twitter {
    background-color: #1da1f2;
  }

  &.medium {
    @apply p-0;
    & svg {
      fill: currentColor;
      color: #12100e;
    }
  }
}

.hashtag {
  @apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2;
}

/**********************/
/* Other screen sizes */
/**********************/
