@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/****************/
/* Mobile first */
/****************/

html,
body,
main {
  height: 100%;
  background-color: #00bcd4;
}

.card {
  @apply rounded bg-white shadow-lg;
  @apply w-full mb-2 mx-auto;
  @apply flex flex-col;
}

.card-head {
  @apply flex flex-wrap flex-col;

  & img {
    @apply w-full;
  }

  & .description {
    @apply px-6 py-4;
  }
}

.links {
  @apply px-6 py-4 flex flex-wrap justify-around;
}

.icon {
  @apply p-2 rounded-lg overflow-hidden mx-auto;
  max-width: 86px;

  & svg {
    @apply fill-current text-white;
  }

  &.github {
    background-color: #181717;
  }

  &.stackoverflow {
    background-color: #fe7a16;
  }

  &.youtube {
    background-color: #ff0000;
  }

  &.twitter {
    background-color: #1da1f2;
  }

  &.linkedin {
    @apply p-0;
    & svg {
      fill: currentColor;
      color: #0077b5;
    }
  }

  &.medium {
    @apply p-0;
    & svg {
      fill: currentColor;
      color: #12100e;
    }
  }
}

.hashtag {
  @apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-2;
}

/*************************************/
/* Other screen sizes & orientations */
/*************************************/

@media (orientation: portrait) {
  @screen md {
    .card {
      height: 99%;
    }
  }

  @screen lg {
    .card {
      height: 90%;
    }
  }
}

@media (min-width: 480px) {
  .card-head {
    @apply flex-row;

    & img {
      order: 1;
      width: 42%;
    }

    & .description {
      @apply flex flex-col justify-center;
      width: 58%;
      & h3 {
        @apply py-3;
      }
    }
  }

  .links a {
    @apply w-1/3;
  }
}

@screen sm {
  .card-head {
    @apply justify-around;

    & img {
      width: 36%;
      @apply pr-6;
    }
  }
}

@screen md {
  .card {
    @apply w-4/5  mb-3;
  }

  .card-head {
    & img {
      max-width: 228px;
    }
  }

  .links {
    @apply px-12;
  }
}

@screen lg {
  .card {
    @apply px-16;
  }

  .card-head {
    & img {
      width: 30%;
      max-width: 236px;
    }
  }

  .links {
    @apply py-12;
  }
}
