<%
	const PAGE_LANG = htmlWebpackPlugin.options.language;
	const isEs = PAGE_LANG.startsWith("es");
%>

<!DOCTYPE html>
<html lang="<%= PAGE_LANG %>" class="text-gray-900 antialiased leading-tight">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73422491-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-73422491-5');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hisa Ishibashi</title>
  <meta name="description" content="Hisa Ishibashi's portfolio page">

  <!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
</head>

<body>
  <main role="main" class="flex flex-col px-10 lg:px-24">
    <h1 class="text-3xl text-center w-full mt-16 mb-8 font-bold lg:mt-24">Hisa Ishibashi</h1>

    <h2 class="text-xl text-center <%= PAGE_LANG %>">
      Software Developer working mainly on full-stack web development with startup mindset and some artistic skills,
      trying to
      figure out the architecture and balance of things
    </h2>

    <div class="bottom-line">
      <span>
        <%= isEs 
          ? 'Creado por'
          : 'Created by'
        %>
      </span>
    </div>
  </main>
</body>

</html>